;;; data.clj

;; Copyright (C) 2019 Naoya Yamashita

;; This program is free software: you can redistribute it and/or modify
;; it under the terms of the Affero GNU General Public License as
;; published by the Free Software Foundation, either version 3 of the
;; License, or (at your option) any later version.

;; This program is distributed in the hope that it will be useful, but
;; WITHOUT ANY WARRANTY; without even the implied warranty of
;; MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the Affero
;; GNU General Public License for more details.

;; You should have received a copy of the Affero GNU General Public
;; License along with this program.
;; If not, see <https://www.gnu.org/licenses/>.

{:alpine
  #{{:id "26.1-alpine-min" :tags #{"26.1-alpine-min"} :version "26.1" :branch "emacs-26.1"}
    {:id "25.1-alpine-min" :tags #{"25.1-alpine-min"} :version "25.1" :branch "emacs-25.1"}
    {:id "25.2-alpine-min" :tags #{"25.2-alpine-min"} :version "25.2" :branch "emacs-25.2"}
    {:id "25.3-alpine-min" :tags #{"25.3-alpine-min"} :version "25.3" :branch "emacs-25.3"}
    {:id "24.1-alpine-min" :tags #{"24.1-alpine-min"} :version "24.1" :branch "emacs-24.1"}
    {:id "24.2-alpine-min" :tags #{"24.2-alpine-min"} :version "24.2" :branch "emacs-24.2"}
    {:id "24.3-alpine-min" :tags #{"24.3-alpine-min"} :version "24.3" :branch "emacs-24.3"}
    {:id "24.4-alpine-min" :tags #{"24.4-alpine-min"} :version "24.4" :branch "emacs-24.4"}
    {:id "24.5-alpine-min" :tags #{"24.5-alpine-min"} :version "24.5" :branch "emacs-24.5"}
    {:id "23.3-alpine-min" :tags #{"23.3-alpine-min"} :version "23.3" :branch "emacs-23.3"}
    {:id "23.4-alpine-min" :tags #{"23.4-alpine-min"} :version "23.4" :branch "emacs-23.4"}}

  :ubuntu
  #{{:id "26.1-min" :tags #{"26.1-alpine-min"} :version "26.1" :branch "emacs-26.1"}
    {:id "25.1-min" :tags #{"25.1-alpine-min"} :version "25.1" :branch "emacs-25.1"}
    {:id "25.2-min" :tags #{"25.2-alpine-min"} :version "25.2" :branch "emacs-25.2"}
    {:id "25.3-min" :tags #{"25.3-alpine-min"} :version "25.3" :branch "emacs-25.3"}
    {:id "24.1-min" :tags #{"24.1-alpine-min"} :version "24.1" :branch "emacs-24.1"}
    {:id "24.2-min" :tags #{"24.2-alpine-min"} :version "24.2" :branch "emacs-24.2"}
    {:id "24.3-min" :tags #{"24.3-alpine-min"} :version "24.3" :branch "emacs-24.3"}
    {:id "24.4-min" :tags #{"24.4-alpine-min"} :version "24.4" :branch "emacs-24.4"}
    {:id "24.5-min" :tags #{"24.5-alpine-min"} :version "24.5" :branch "emacs-24.5"}
    {:id "23.3-min" :tags #{"23.3-alpine-min"} :version "23.3" :branch "emacs-23.3"}
    {:id "23.4-min" :tags #{"23.4-alpine-min"} :version "23.4" :branch "emacs-23.4"}}}
