;;; data.clj

;; Copyright (C) 2019 Naoya Yamashita

;; This program is free software: you can redistribute it and/or modify
;; it under the terms of the Affero GNU General Public License as
;; published by the Free Software Foundation, either version 3 of the
;; License, or (at your option) any later version.

;; This program is distributed in the hope that it will be useful, but
;; WITHOUT ANY WARRANTY; without even the implied warranty of
;; MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the Affero
;; GNU General Public License for more details.

;; You should have received a copy of the Affero GNU General Public
;; License along with this program.
;; If not, see <https://www.gnu.org/licenses/>.

{:alpine
 {:alpine-26.1-min {:tags #{"alpine-26.1-min"} :version "26.1" :branch "emacs-26.1" :type "min"}
  :alpine-25.1-min {:tags #{"alpine-25.1-min"} :version "25.1" :branch "emacs-25.1" :type "min"}
  :alpine-25.2-min {:tags #{"alpine-25.2-min"} :version "25.2" :branch "emacs-25.2" :type "min"}
  :alpine-25.3-min {:tags #{"alpine-25.3-min"} :version "25.3" :branch "emacs-25.3" :type "min"}
  :alpine-24.1-min {:tags #{"alpine-24.1-min"} :version "24.1" :branch "emacs-24.1" :type "min"}
  :alpine-24.2-min {:tags #{"alpine-24.2-min"} :version "24.2" :branch "emacs-24.2" :type "min"}
  :alpine-24.3-min {:tags #{"alpine-24.3-min"} :version "24.3" :branch "emacs-24.3" :type "min"}
  :alpine-24.4-min {:tags #{"alpine-24.4-min"} :version "24.4" :branch "emacs-24.4" :type "min"}
  :alpine-24.5-min {:tags #{"alpine-24.5-min"} :version "24.5" :branch "emacs-24.5" :type "min"}
  :alpine-23.3-min {:tags #{"alpine-23.3-min"} :version "23.3" :branch "emacs-23.3" :type "min"}
  :alpine-23.4-min {:tags #{"alpine-23.4-min"} :version "23.4" :branch "emacs-23.4" :type "min"}}

 :ubuntu
 {:ubuntu-26.1-min {:tags #{"ubuntu-26.1-min"} :version "26.1" :branch "emacs-26.1" :type "min"}
  :ubuntu-25.1-min {:tags #{"ubuntu-25.1-min"} :version "25.1" :branch "emacs-25.1" :type "min"}
  :ubuntu-25.2-min {:tags #{"ubuntu-25.2-min"} :version "25.2" :branch "emacs-25.2" :type "min"}
  :ubuntu-25.3-min {:tags #{"ubuntu-25.3-min"} :version "25.3" :branch "emacs-25.3" :type "min"}
  :ubuntu-24.1-min {:tags #{"ubuntu-24.1-min"} :version "24.1" :branch "emacs-24.1" :type "min"}
  :ubuntu-24.2-min {:tags #{"ubuntu-24.2-min"} :version "24.2" :branch "emacs-24.2" :type "min"}
  :ubuntu-24.3-min {:tags #{"ubuntu-24.3-min"} :version "24.3" :branch "emacs-24.3" :type "min"}
  :ubuntu-24.4-min {:tags #{"ubuntu-24.4-min"} :version "24.4" :branch "emacs-24.4" :type "min"}
  :ubuntu-24.5-min {:tags #{"ubuntu-24.5-min"} :version "24.5" :branch "emacs-24.5" :type "min"}
  :ubuntu-23.3-min {:tags #{"ubuntu-23.3-min"} :version "23.3" :branch "emacs-23.3" :type "min"}
  :ubuntu-23.4-min {:tags #{"ubuntu-23.4-min"} :version "23.4" :branch "emacs-23.4" :type "min"}}}
