# -*- mode: yaml; -*-

language: generic

addons:
  apt:
    packages:
      - docker-ce

services: docker

# cache:
#   timeout: 900
#   directories:
#     - $HOME/cache

env:
  global:
    - secure: sxcs69GENV9/Wvqa1ggzY2Awt1HXOCMU80oSD1zBRx6zq2uxErRcUjF5Hzjdch5pj+rtDpUIG8YGKYpVyobzUJPKmJdkJs8SxV/+w0kX8XLEWzYe2GCTwjMBpHvFopJW4lRBlkxiw70UJK6SNHsv44FuJ1t1PcaI0FbmX3pYDvYdGNVJjnQTCITgiJstoIN/D4YdAAFm+CjFCQU+PvSs10cm1UxYsq/taEkx9QgqMYjP++b3KBR3uqADviejhjF1gKbOxob30Sovn4hy27nw0e/l2AtB/USOUYBI7h8dS8ECQwEGB8gXNIkKs+xC0yfw5TGxPbM6w0cO6708u4rsBkjbtBy2QGW//e1blYfyrRkiYmriqnLTNrtF3O0KQVGMXZjMTx6FEc5+CdkI1wcsfrLe59O0oxqvDcFHEvxmk5G/uniJG2cMZ5LP/Q9NjLfrdfvuTiA9qznIXLZGk6Ip6YK+4LRV1zL4aSZ4XH3K8PhUFF7NHlROOdzk114cdFq8uVnwWp+eLveAHcGZ6XjL/MYm41wx1HFyrvV+Dq0KSQmZHrCcaxVMQzDGOadwisuU8mXhJHPY+zgaNUJAXO+N8KHachQZWiuRTAtHsFj3j7cF+7Dn7eJeELXEK1h3UCfo/CIrhOE/tfd5tn/+mC9NghpCVoE1h59ymzD3ZmC1FFc=
    - secure: FcjLP+NfjSvMBi+d2h+XIyjDqNQ+BTA81AWs7guzohMTKu3pWTgfkWD15xlNUUYDN2w6GwdC65x7IGFdu1LKRLGqgEC1h4IjRHZPo85ijVHHoFNFMhPPKCOGCRdUSDK89xw/ppf1NygEjfMHyorjgqJSF+YkmFogSjLK1Il/v2Y/JUI3m6YKUqN6RCX2wOlFpf7zB+khOxaDwkzPWPwGOaUkUKttuOhxU5VqJrVDHPrX+UKJnthBaDZOdlzf0gHSzyqnN2P15AA1p1l74RLAdFrX6b3haEQdIIv8s4Em4oSwVIXr8gJPXOjAUqiVoOKmXka+iRgMWtn3AifQshc+RiK8m6AJ2O2rUBhKx7W7k5LcwR+Oi4e3EYC07sWF63XRg+zhVXsIn2iWlFsf5T7dr0kQS1IRsUVri3UbAdieR1QDUzK0aSA+8fxFSIzr6yKN6VnXADWD/XiXms3hEPw1R0SDKrAA4bgjgPX4B9IB7DJgIuRn+YgfwFWvKmDQcGE+Ltegppj52HdRJq9RXB564ua5wIS4e76zNAircQcsN9xgMM4UIkn1p9usXYH9kHWtekb4RQEdhMgeJ/VpTfuJ/fuDpN/Nin6XwJSAKVm/nmRM5VbGrNLqIkGZCNUfEK3kxW9IMGll1PleFU+l52SQrWaIQjiFz42MJ5lmn9+eWDc=
  matrix:
{{#data}}
    - TARGET_IMAGE="{{id}}"
{{/data}}

install:
  - docker version
  - make .make/build-${TARGET_IMAGE}

script:
  - docker login --username=${DOCKER_USERNAME} --password=${DOCKER_PASSWORD}
  - make .make/push-${TARGET_IMAGE}

# after_success:
#   - |
#     # DOCKER_USERNAME is empty for forked repositories
#     # TRAVIS_PULL_REQUEST is "true" for pull requests
#     # TRAVIS_BRANCH is the current branch or the PR target branch
#     # TRAVIS_PULL_REQUEST_BRANCH is the PR source branch
#     github_branch="${TRAVIS_PULL_REQUEST_BRANCH:-$TRAVIS_BRANCH}"
#     if [[ ! -z "$DOCKER_USERNAME" ]] && [[ "$TRAVIS_PULL_REQUEST" != "true" ]] && \
#        [[ "$github_branch" == "master" ]] || [[ "$github_branch" == "staging-"* ]]; then
#       images push $DOCKER_IMAGES
#     else
#       echo ">>> not pushing"
#     fi
