;;; data.clj

;; Copyright (C) 2019 Naoya Yamashita

;; This program is free software: you can redistribute it and/or modify
;; it under the terms of the Affero GNU General Public License as
;; published by the Free Software Foundation, either version 3 of the
;; License, or (at your option) any later version.

;; This program is distributed in the hope that it will be useful, but
;; WITHOUT ANY WARRANTY; without even the implied warranty of
;; MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the Affero
;; GNU General Public License for more details.

;; You should have received a copy of the Affero GNU General Public
;; License along with this program.
;; If not, see <https://www.gnu.org/licenses/>.

[;; normal images
 {:id "alpine-26.1-normal" :os "alpine" :version "26.1" :branch "emacs-26.1" :type "normal" :normal true :tags [{:tag-name "alpine-26.1-normal"} {:tag-name "alpine-26.1"} {:tag-name "26.1-alpine"}]}
 {:id "alpine-25.3-normal" :os "alpine" :version "25.3" :branch "emacs-25.3" :type "normal" :normal true :tags [{:tag-name "alpine-25.3-normal"} {:tag-name "alpine-25.3"} {:tag-name "25.3-alpine"}] :musl-patch true}
 {:id "alpine-25.2-normal" :os "alpine" :version "25.2" :branch "emacs-25.2" :type "normal" :normal true :tags [{:tag-name "alpine-25.2-normal"} {:tag-name "alpine-25.2"} {:tag-name "25.2-alpine"}] :musl-patch true}

 {:id "ubuntu-26.1-normal" :os "ubuntu" :version "26.1" :branch "emacs-26.1" :type "normal" :normal true :tags [{:tag-name "ubuntu-26.1-normal"} {:tag-name "ubuntu-26.1"} {:tag-name "26.1"}]}
 {:id "ubuntu-25.3-normal" :os "ubuntu" :version "25.3" :branch "emacs-25.3" :type "normal" :normal true :tags [{:tag-name "ubuntu-25.3-normal"} {:tag-name "ubuntu-25.3"} {:tag-name "25.3"}]}
 {:id "ubuntu-25.2-normal" :os "ubuntu" :version "25.2" :branch "emacs-25.2" :type "normal" :normal true :tags [{:tag-name "ubuntu-25.2-normal"} {:tag-name "ubuntu-25.2"} {:tag-name "25.2"}]}
 {:id "ubuntu-25.1-normal" :os "ubuntu" :version "25.1" :branch "emacs-25.1" :type "normal" :normal true :tags [{:tag-name "ubuntu-25.1-normal"} {:tag-name "ubuntu-25.1"} {:tag-name "25.1"}]}
 {:id "ubuntu-24.5-normal" :os "ubuntu" :version "24.5" :branch "emacs-24.5" :type "normal" :normal true :tags [{:tag-name "ubuntu-24.5-normal"} {:tag-name "ubuntu-24.5"} {:tag-name "24.5"}]}
 {:id "ubuntu-24.4-normal" :os "ubuntu" :version "24.4" :branch "emacs-24.4" :type "normal" :normal true :tags [{:tag-name "ubuntu-24.4-normal"} {:tag-name "ubuntu-24.4"} {:tag-name "24.4"}] :old-emacs true}
 {:id "ubuntu-24.3-normal" :os "ubuntu" :version "24.3" :branch "emacs-24.3" :type "normal" :normal true :tags [{:tag-name "ubuntu-24.3-normal"} {:tag-name "ubuntu-24.3"} {:tag-name "24.3"}] :old-emacs true}
 {:id "ubuntu-24.2-normal" :os "ubuntu" :version "24.2" :branch "emacs-24.2" :type "normal" :normal true :tags [{:tag-name "ubuntu-24.2-normal"} {:tag-name "ubuntu-24.2"} {:tag-name "24.2"}] :old-emacs true}
 {:id "ubuntu-24.1-normal" :os "ubuntu" :version "24.1" :branch "emacs-24.1" :type "normal" :normal true :tags [{:tag-name "ubuntu-24.1-normal"} {:tag-name "ubuntu-24.1"} {:tag-name "24.1"}] :old-emacs true}
 {:id "ubuntu-23.4-normal" :os "ubuntu" :version "23.4" :branch "emacs-23.4" :type "normal" :normal true :tags [{:tag-name "ubuntu-23.4-normal"} {:tag-name "ubuntu-23.4"} {:tag-name "23.4"}] :old-emacs true}
 ;; {:id "ubuntu-23.3-normal" :os "ubuntu" :version "23.3" :branch "emacs-23.3" :type "normal" :tags #{"ubuntu-23.3 23.3"} :old-emacs true}

 ;; min images
 {:id "alpine-26.1-min" :os "alpine" :version "26.1" :branch "emacs-26.1" :type "min" :min true :tags [{:tag-name "alpine-26.1-min"} {:tag-name "26.1-alpine-min"}]}
 {:id "alpine-25.3-min" :os "alpine" :version "25.3" :branch "emacs-25.3" :type "min" :min true :tags [{:tag-name "alpine-25.3-min"} {:tag-name "25.3-alpine-min"}] :musl-patch true}
 {:id "alpine-25.2-min" :os "alpine" :version "25.2" :branch "emacs-25.2" :type "min" :min true :tags [{:tag-name "alpine-25.2-min"} {:tag-name "25.2-alpine-min"}] :musl-patch true}

 {:id "ubuntu-26.1-min" :os "ubuntu" :version "26.1" :branch "emacs-26.1" :type "min" :min true :tags [{:tag-name "ubuntu-26.1-min"} {:tag-name "26.1-min"}]}
 {:id "ubuntu-25.3-min" :os "ubuntu" :version "25.3" :branch "emacs-25.3" :type "min" :min true :tags [{:tag-name "ubuntu-25.3-min"} {:tag-name "25.3-min"}]}
 {:id "ubuntu-25.2-min" :os "ubuntu" :version "25.2" :branch "emacs-25.2" :type "min" :min true :tags [{:tag-name "ubuntu-25.2-min"} {:tag-name "25.2-min"}]}
 {:id "ubuntu-25.1-min" :os "ubuntu" :version "25.1" :branch "emacs-25.1" :type "min" :min true :tags [{:tag-name "ubuntu-25.1-min"} {:tag-name "25.1-min"}]}
 {:id "ubuntu-24.5-min" :os "ubuntu" :version "24.5" :branch "emacs-24.5" :type "min" :min true :tags [{:tag-name "ubuntu-24.5-min"} {:tag-name "24.5-min"}]}
 {:id "ubuntu-24.4-min" :os "ubuntu" :version "24.4" :branch "emacs-24.4" :type "min" :min true :tags [{:tag-name "ubuntu-24.4-min"} {:tag-name "24.4-min"}] :old-emacs true}
 {:id "ubuntu-24.3-min" :os "ubuntu" :version "24.3" :branch "emacs-24.3" :type "min" :min true :tags [{:tag-name "ubuntu-24.3-min"} {:tag-name "24.3-min"}] :old-emacs true}
 {:id "ubuntu-24.2-min" :os "ubuntu" :version "24.2" :branch "emacs-24.2" :type "min" :min true :tags [{:tag-name "ubuntu-24.2-min"} {:tag-name "24.2-min"}] :old-emacs true}
 {:id "ubuntu-24.1-min" :os "ubuntu" :version "24.1" :branch "emacs-24.1" :type "min" :min true :tags [{:tag-name "ubuntu-24.1-min"} {:tag-name "24.1-min"}] :old-emacs true}
 {:id "ubuntu-23.4-min" :os "ubuntu" :version "23.4" :branch "emacs-23.4" :type "min" :min true :tags [{:tag-name "ubuntu-23.4-min"} {:tag-name "23.4-min"}] :old-emacs true}
 ;; {:id "ubuntu-23.3-min" :os "ubuntu" :version "23.3" :branch "emacs-23.3" :type "min" :tags #{"ubuntu-23.3-min 23.3-min"} :old-emacs true}
 ]
